* {
  color: #ffffff;
}
.form-control {
  border-color: #ffffff;
}
.navbar {
  background-color: white;
  box-shadow: 0px -9px 20px #000000;

  .nav {
    &-item {
      padding: 0 .5rem;
    }
    &-link {
      padding: 1rem;
      color: #888888;
    }
  }
}

.content {
  padding-top: 10px;
  padding-bottom: 20px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* 1 */
  display: block;
  font-weight: 300;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 1px;
}
.subtitle {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.sidebar {
  border: 1px solid #EFEFEF;
  padding: 20px;
  font-size: 14px;
}

.footer {
  border-top: 1px solid #EFEFEF;
  text-align: center;
  color: #ABABAB;
  background-color: #ffffff;
  padding: 5px 8px;
}
.footer .col {
  height: 60px;
}
.footer .col a {
  font-size: 15px;
}
.footer .col a i {
  font-size: 25px;
}